@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523



@import "~bulma"

.section
  padding: 3.5rem 0 3.5rem 20rem;

.container
  margin: 0;
  max-width: 1000px;

.page-padding
  padding: 3rem 5rem 0 3rem;

.navigation-padding
  padding: 0 3.5rem;

.main-navbar,
.side-navbar
  position: fixed;

.main-navbar
  top: 0;
  left: 0;
  right: 0;
  background: #ccc;
  z-index: 10;

.blog-link-card
  width: 50%;
  height: 375px;
  flex: none;
  position: relative;
  padding: 0 0.75rem;
  margin: 0 0 1.5rem;
  transition: all .3s ease;
  transform: translateY(0);
  &:hover
    transform: translateY(-0.3rem);
    .blog-link-card-article
      box-shadow: 0 7px 13px 3px rgba(43, 37, 35, 0.1), 0 0 0 1px rgba(43, 37, 35, 0.1);
  .blog-link-card-article
    position: relative;
    height: inherit;
    padding: 0;
    transition: all .5s;
    .card-content
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      margin: auto;
      width: calc(100%);
      background: rgba(255, 255, 255, .9);
      padding: 1rem .5em;
      border-radius: 0 0 6px 6px;

.side-navbar
  height: 100%;
  width: 20rem;
  left: 0;
  top: 0;
  background: #242424;
  padding: 6rem 3rem 0;
  .navbar-menu
    display: block;
    background: transparent;
    .navbar-item-title
      color: #ffea7f;
      font-weight: bold;
      text-transform: uppercase;
      margin: .5rem 0 0;
      &:first-child
        margin: 0;
    .navbar-item
      border-radius: 5px;
      color: #fff;
      transition: .3s all;
      margin: .5rem 0;
      padding: .35rem .75rem;
      &:hover
        background: #ccc;
        color: #242424;

.week-block
  flex: 1 100%;
  display: flex;
  .week-block-inner
    padding: 0;
    overflow: hidden;
    .week-block-content
      align-items: stretch;
      margin: 0;
      .week
        display: flex;
        align-items: center;
        justify-content: center;
        background: #242424;
        p
          font-size: 48px;
          text-align: center;
          color: #fff;
          font-weight: bold;
          text-transform: uppercase;
      .week-copy
        display: flex;
        align-items: center;
        justify-content: center;

.recipes
  .blog-link-card
    width: 25%;
    height: 275px;

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;

  .blog-link-card
    flex: none;
    width: 50%;

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;

  .blog-link-card
    flex: none;
    width: 100%;
